@import "./src/styles/App";

.SearchHeader {
    border-radius: 8px;
    display: flex;
    height: 48px;
    flex-grow: 0.8;
    justify-content: center;
}

.my-select-container .ant-select .ant-select-selector {
    border-radius: $step;
}

.SearchHeaderContent {
    background-color: $brand-blue-600;
    border-radius: $step;
    display: flex;
    flex-wrap: wrap;
    padding: $step * 0.5;
    align-content: center;
    flex-grow: 0.8;
}

.SearchBtn {
    cursor: pointer;
    min-width: 80px;
    background-color: $brand-blue-600;
    color: #fff;
    border: $brand-blue-600 1px solid;
}



