.SearchHeader {
    border-radius: 8px;
    display: flex;
    min-width: 500px;
    height: 48px;
    margin: auto;
}

.SearchHeaderContent {
    background-color: var(--brand-blue-600);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    align-content: center;
}

.SearchBtn {
    cursor: pointer;
    min-width: 80px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--brand-blue-600);
    color: #fff;
    border: var(--brand-blue-600) 1px solid;
}



