@import "./src/styles/App";

.Catalog {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    min-width: 80px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: $brand-blue-600;
    color: #fff;
    border: $brand-blue-600 1px solid;
}
