.Catalog {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    min-width: 80px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--brand-blue-600);
    color: #fff;
    border: var(--brand-blue-600) 1px solid;
}
