@import "variables/Main";
@import "variables/Colors";
@import "variables/Pixels";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
}

.App {
    width: 100%;
    font-family: Stolzl, sans-serif;
}

.layout {
  background-color: var(--brand-white);
 }