* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
}

.App {
    width: 100%;
    font-family: Inter,sans-serif;
}

:root {
    --brand-blue-900: #0a3243;
    --brand-blue-800: #105370;
    --brand-blue-700: #16759c;
    --brand-blue-600: #1d96c9;
    --brand-blue-500: #26a9e0;
    --brand-blue-400: #63c1e9;
    --brand-blue-300: #8fd3ef;
    --brand-blue-200: #c7e5fb;
    --brand-blue-100: #e9f6fc;
}