@import "@styles/App.scss";

.Controls {
  display: flex;
  align-items: center;
}

.btn {
  height: $step * 8;
  width: $step * 8;
  border: none;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
}

.user {
  background-image: url("@public/header/user.svg")
}

.cart {
  margin-left: $step * 4;
  background-image: url("@public/header/cart.svg");
}