@import "@styles/App";

.Search {
    height: 100%;
    outline: none;
    font-size: 16px;
    min-width: $step * 50;
    line-height: 48px;
    flex-grow: 1;
}

.SearchItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-weight: bold;
}

.author {
    color: lightslategray;
}
