$brand-blue-900: #0a3243;
$brand-blue-800: #105370;
$brand-blue-700: #16759c;
$brand-blue-600: #1d96c9;
$brand-blue-500: #26a9e0;
$brand-blue-400: #63c1e9;
$brand-blue-300: #8fd3ef;
$brand-blue-200: #c7e5fb;
$brand-blue-100: #e9f6fc;

$base-900: #0d0c22;
$base-800: #252438;
$base-700: #464958;
$base-600: #565c66;
$base-500: #707783;
$base-400: #9ca5b6;
$base-300: #cbd6de;
$base-200: #dde6ec;
$base-100: #edf3f7;
$base-0: #fff;