.HeaderContainer {
    display: flex;
    flex-direction: column;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 1;
    min-width: 100%;
}

.Header {
    background-color: var(--brand-blue-700);
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    max-height: 1000px;
}

/*todo убрать чутка позже*/
.profile {
    display: flex;
    align-items: center;
}
/*todo убрать чутка позже*/
.user, .cart {
    height: 32px;
    width: 32px;
    border: none;
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
}
/*todo убрать чутка позже*/
.user {
    background-image: url("../../../assets/header/user.svg")
}
/*todo убрать чутка позже*/
.cart {
    margin-left: 16px;
    background-image: url("../../../assets/header/cart.svg");
}


